div:has(.table-skeleton) {
  margin: -8px;
}

.table-skeleton {
  border-spacing: 0;
  min-width: 100%;
}

.table-skeleton thead {
  border-bottom-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.table-skeleton thead tr th {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.table-skeleton thead tr th p {
  height: 0.625rem;
  width: 100%;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {
  .table-skeleton thead tr th p {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
  }
}

.table-skeleton tbody tr {
  border-bottom-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.table-skeleton tbody tr td {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.table-skeleton tbody tr td p {
  height: 0.625rem;
  width: 100%;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: dark) {
  .table-skeleton tbody tr td p {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
  }
}
